
.background{
    -fx-background-color: darkslategrey;
}

.tab-pane{
    -fx-background-color: transparent;
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 120px;
    -fx-tab-min-height:25px;
    -fx-tab-max-height:25px;
}

.tab-pane .label{

}
.tab-header-background{
    -fx-background-color: derive(#1d1d1d, 30%);
}

.menu-bar{
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: #1d1d1d ;

}

.menu-bar .label {
    -fx-font-size: 14pt;

    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

